*{
    box-sizing: border-box;
}

body{
    background-color: #eef9bf;
    font-family: "Encode Sans", sans-serif;
}

.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    color: #75b79e;
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 40px;
}

.all{
    justify-content: center;
    align-items: center;
    padding-right: 250px;
    padding-left: 250px;
}

.all-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
}

.all-cards ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.all-cards ul li{
    list-style-type: none;
    padding: 14px;
}

.card{
    width: 117px;
    height: 146px;
    margin: 10px;
    border-radius: 5px;
    position: relative;
}

.face {
    width: 100%;
    height: 100%;
    background-color: #a7e9af;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all 2s;
    transform-style: preserve-3d;
  }
  
  .back-face {
    transition: transform 2s;
    transform: rotateY(180deg);
  }
  
  .card:hover .back-face {
    transform: rotateY(0deg);
  }
  
  .card:hover .front-face {
    transform: rotateY(-180deg);
  }
/*
.virada{
    transition: transform 2s;
    transform: rotateY(180deg);
}*/

.desapareca img{
    display: none;
}

@media(max-width: 335px){
    .titulo{
        font-size: 36px;
        justify-content: center;
        align-items: center;
    }

    .all{
        padding: 0;
    }

    .all-cards{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .all-cards ul{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

